* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

body {
    width: 100%;
}

body section, body header {
    padding: 0 7.778%;
}

nav {
    margin: 18px auto;
    text-align: center;
}

nav div {
    display: inline-block;
    vertical-align: middle;
}

.name {
    margin-right: 10%;
}

.name img {
    width: 27px;
    vertical-align: middle;
}

.name p {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #3A404E;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.links {
    margin-right: 30%;
}

.links a {
    color: #667085;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-right: 32px;
}

.links a:last-child {
    margin-right: 0;
}

.buttons button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    background: none;
}

.buttons button:first-child {
    margin-right: 30px;
    color: #667085;
}

.buttons button:last-child {
    padding: 12.8px 16px;
    background-color: #8E2424;
    color: white;
}

.cabeçalho {
    padding: 96px 0;
}

.cabeçalho p {
    text-align: center;
}

.cabeçalho p:first-child {
    color: #8E2424;
    font-size: 16px;
    margin-bottom: 24px;
}

.cabeçalho p:nth-child(2) {
    color: #101828;
    font-size: 48px;
    margin-bottom: 36px;
}

.cabeçalho p:last-child {
    color: #667085;
    font-size: 20px;
    font-weight: 400;
    padding: 0 13rem;
}

.metricas {
    width: 80%;
    padding-bottom: 96px;
    margin: 0 auto;
    text-align: center;
}

.metricas div {
    display: inline;
    width: fit-content;
}

.metricas li {
    display: inline-block;
    width: 23.5%;
    vertical-align: top;
    margin-right: 2%;
}

@media screen and (min-width: 650px) {
    .metricas div:last-child li:last-child {
        margin-right: 0;
    }
}

.metricas li p {
    text-align: left;
}

.metricas li p:first-child {
    font-weight: 600;
    font-size: 60px;
    color: #8E2424;
    margin-bottom: 12px;
}

.metricas li p:nth-child(2) {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    margin-bottom: 8px;
}

.metricas li p:last-child {
    font-weight: 400;
    font-size: 16px;
    color: #667085;
}

.talentos {
    text-align: center;
    margin: 96px 0 64px;
}

.talentos p:first-child {
    background-color: rgba(142, 36, 36, 0.05);
	border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
    padding: 4px 12px;
    margin: 0 auto 16px;
    color: #8E2424;
}

.talentos p:nth-child(2) {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 20px;
    color: #101828;
}

.talentos p:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 64px;
    color: #667085;
}

.talentos img {
    width: 100%;
}

.vagasabertas {
    width: 55.7%;
    margin: 0 auto;
}

.vagasabertas p {
    font-weight: 500;
    font-size: 20px;
    color: #101828;
}

.vagasabertas div {
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px 24px 24px 28px;
    margin-bottom: 24px;
}

.vagasabertas div:nth-child(2), .vagasabertas div:nth-child(5) {
    margin-top: 32px;
}

.vagasabertas div:nth-child(3) {
    margin-bottom: 64px;
}

.vagasabertas div h1 {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    margin-bottom: 32px;
}

.vagasabertas div h2 {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: #667085;
}

.vagasabertas div h2:nth-child(2) {
    margin-right: 24px;
}

.depoimentos {
    background-color: rgba(195, 25, 25, 0.03);
    border-radius: 16px;
    padding: 64px;
    margin-bottom: 96px;
    text-align: center;
}

.depoimentos p:first-child {
    font-weight: 600;
    font-size: 14px;
    color: #8E2424;
    margin-bottom: 16px;
}

.depoimentos p:nth-child(2) {
    font-weight: 500;
    font-size: 36px;
    color: #101828;
    margin-bottom: 32px;
}

.depoimentos img {
    width: 56px;
    margin-bottom: 32px;
}

.depoimentos p:nth-child(4) {
    font-weight: 500;
    font-size: 16px;
    color: #101828;
    margin-bottom: 4px;
}

.depoimentos p:nth-child(5) {
    font-weight: 400;
    font-size: 14px;
    color: #667085;
}

.formulario {
    padding: 96px 5%;
    background-color: #F9FAFB;
    text-align: center;
}

.formulario p:first-child {
    font-weight: 600;
    font-size: 36px;
    color: #101828;
    margin-bottom: 20px;
}

.formulario p:nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    color: #667085;
    margin-bottom: 40px;
}

.formulario input {
    width: 29%;
    font-weight: 400;
    font-size: 16px;
    color: #667085;
    border: 1px solid;
    border-color: #D0D5DD;
    border-radius: 8px;
    padding: 12px 14px;
    margin: 0 16px 12px;
}

.formulario button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    background-color: #8E2424;
    padding: 12px 20px;
    margin-bottom: 32px;
}

.formulario p:last-child {
    font-weight: 400;
    font-size: 16px;
    color: #98A2B3;
}

@media screen and (max-width: 1380px) {
    .name {
        margin-right: 5%;
    }

    .links {
        margin-right: 10%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 650px) {
    .links {
        margin-right: 0;
    }

    .buttons {
        display: block;
        margin-top: 20px;
    }

    .metricas div:first-child li:last-child {
        margin-right: 0;
    }

    .metricas li {
        width: 40%;
    }

    .metricas div:last-child {
        display: block;
        padding-top: 5%;
    }

    .cabeçalho p:last-child {
        padding: 0 5rem;
        text-align: justify;
    }
}

@media screen and (max-width: 650px) {
    .name {
        margin-right: 0;
    }

    .name p {
        font-size: 14.4px;
    }

    .links {
        display: block;
        margin-top: 20px;
        margin-right: 0;
    }

    .links a {
        font-size: 12.8px;
        margin-right: 10px;
    }

    .buttons {
        display: block;
        margin-top: 20px;
    }

    .buttons button {
        font-size: 12.8px;
    }

    .cabeçalho p:first-child {
        font-size: 12.8px;
    }

    .cabeçalho p:nth-child(2) {
        font-size: 35px;
    }

    .cabeçalho p:last-child {
        font-size: 16px;
        padding: 0 3rem;
        text-align: justify;
    }

    .metricas {
        padding-bottom: 56px;
    }

    .metricas li p {
        text-align: center;
    }
    
    .metricas li {
        width: 70%;
        display: block;
        padding-top: 5%;
        margin: 0 auto;
    }

    .metricas li p:first-child {
        font-size: 48px;
    }

    .metricas li p:nth-child(2) {
        font-size: 14.4px;
    }

    .metricas li p:last-child {
        font-size: 12.8px;
    }

    .metricas div:first-child li:first-child {
        padding-top: 0;
    }

    .metricas div {
        text-align: center;
    }

    .talentos {
        margin-top: 56px;
    }

    .talentos p:first-child {
        font-size: 11.2px;
    }

    .talentos p:nth-child(2) {
        font-size: 28.8px;
    }

    .talentos p:nth-child(3) {
        font-size: 16px;
    }
    
    .vagasabertas {
        width: 70%;
    }
    
    .vagasabertas p {
        font-size: 16px;
    }
    
        .vagasabertas div {
            padding: 14px 14px 14px 16px;
        }

    .vagasabertas div h1 {
        font-size: 14.4px;
    }

    .vagasabertas div h2 {
        font-size: 12.8px;
    }

    .depoimentos {
        margin-bottom: 56px;
    }

    .depoimentos p:first-child {
        font-size: 9px;
    }

    .depoimentos p:nth-child(2) {
        font-size: 16px;
    }

    .depoimentos p:nth-child(4) {
        font-size: 11px;
    }

    .depoimentos p:nth-child(5) {
        font-size: 9px;
    }

    .formulario {
        padding: 56px 5%;
    }

    .formulario p:first-child {
        font-size: 28.8px;
    }

    .formulario p:nth-child(2) {
        font-size: 16px;
    }

    .formulario input {
        font-size: 12.8px;
    }

    .formulario button {
        font-size: 12.8px;
    }

    .formulario p:last-child {
        font-size: 12.8px;
    }
}
